{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container">
    <div class="form-box">
        <header>
            <h1>Login do Cliente</h1>
            <p>Acesse sua conta para agendar um horário.</p>
        </header>
        <form method="POST" action="{{ url_for('login') }}" id="login-form">
            <div class="form-step">
                <input type="text" id="nome" name="nome" placeholder="Seu nome de usuário" required>
            </div>
            <div class="form-step">
                <input type="password" id="senha" name="senha" placeholder="Sua senha" required>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <br>
            
        </form>
<div class="form-switch">
    <p>Não tem conta? <a href="{{ url_for('signup') }}">Cadastre-se aqui</a></p>
</div>
        <br>
        <br>
        <a href="{{ url_for('admin_login') }}" class="btn btn-secondary">Acesso do Administrador</a>
    </div>
</div>
{% endblock %}